In [56]:
import pandas as pd
import numpy as np

In [57]:
indoorTemp = 'test.csv'
df_indoor = pd.read_csv(indoorTemp, sep= ',', header = 0)

In [58]:
df_indoor.head()

         Date      Time  Indoor Temperature  Indoor Humidity
0  2020-01-01  06:00:00           23.226588        26.245769
1  2020-01-01  07:00:00           23.405192        26.317767
2  2020-01-01  08:00:00           23.391584        25.853402
3  2020-01-01  09:00:00           23.562065        25.692726
4  2020-01-01  10:00:00           23.408751        25.814888

In [59]:
outdoor_temp = 'smhi-opendata_1_96350_20221017_134739.csv'
df_outdoor = pd.read_csv(outdoor_temp, sep= ';', header = 0)

In [60]:
df_outdoor.head()

         Date      Time  Lufttemperatur Kvalitet
0  2020-01-01  06:00:00             2.8        G
1  2020-01-01  18:00:00             4.4        G
2  2020-01-02  06:00:00             6.0        G
3  2020-01-02  18:00:00             6.4        G
4  2020-01-03  06:00:00             6.5        G

In [61]:
final_df = pd.merge(df_indoor, df_outdoor, how="left", on=['Date','Time'])

In [62]:
#for i in range(len(df_indoor)):
 #   for j in range(len(df_outdoor)):
  #      k = df_indoor["Date"][i]
   ##    m = df_indoor["Time"][i]
     #   n = df_indoor["Time"][j]
      #  if m == n and k == l:
       #     df_indoor["Lufttemperatur"][i] = df_outdoor["Lufttemperatur"][j]
        #    df_indoor["Kvalitet"][i] = df_outdoor["Kvalitet"][j]

In [63]:
df_indoor.tail()

            Date      Time  Indoor Temperature  Indoor Humidity
8385  2020-12-30  19:00:00           21.397125        30.004916
8386  2020-12-30  20:00:00           21.680444        29.505181
8387  2020-12-30  21:00:00           21.873741        29.298570
8388  2020-12-30  22:00:00           21.840849        29.244391
8389  2020-12-30  23:00:00           21.904528        29.553099

In [64]:
df_outdoor.tail()

           Date      Time  Lufttemperatur Kvalitet
665  2020-11-28  18:00:00             0.2        G
666  2020-11-29  06:00:00            -1.9        G
667  2020-11-29  18:00:00            -2.4        G
668  2020-11-30  06:00:00            -2.6        G
669  2020-11-30  18:00:00             2.4        G

In [65]:
final_df.head(25)

,Date,Time,Indoor Temperature,Indoor Humidity,Lufttemperatur,Kvalitet
0,2020-01-01,06:00:00,23.226588,26.245769,2.8,G
1,2020-01-01,07:00:00,23.405192,26.317767,NaN,NaN
2,2020-01-01,08:00:00,23.391584,25.853402,NaN,NaN
3,2020-01-01,09:00:00,23.562065,25.692726,NaN,NaN
4,2020-01-01,10:00:00,23.408751,25.814888,NaN,NaN
5,2020-01-01,11:00:00,23.643324,25.833722,NaN,NaN
6,2020-01-01,12:00:00,23.429947,26.048467,NaN,NaN
7,2020-01-01,13:00:00,23.720061,25.765532,NaN,NaN
8,2020-01-01,14:00:00,23.815208,25.682037,NaN,NaN
9,2020-01-01,15:00:00,24.091896,25.266164,NaN,NaN
10,2020-01-01,16:00:00,23.874883,25.527442,NaN,NaN
11,2020-01-01,17:00:00,23.716724,25.780570,NaN,NaN
12,2020-01-01,18:00:00,23.417344,25.290788,4.4,G
13,2020-01-01,19:00:00,23.516901,25.519025,NaN,NaN
14,2020-01-01,20:00:00,23.381373,25.125984,NaN,NaN
15,2020-01-01,21:00:00,23.213167,24.820805,NaN,NaN
16,2020-01-01,22:00:00,23.152760,25.072742,NaN,NaN
17,2020-01-01,23:00:00,22.978264,25.201249,NaN,NaN
18,2020-01-02,01:00:00,23.237096,24.711128,NaN,NaN
19,2020-01-02,02:00:00,23.176701,24.651966,NaN,NaN
20,2020-01-02,03:00:00,22.959124,24.757560,NaN,NaN
21,2020-01-02,04:00:00,22.696633,24.974935,NaN,NaN
22,2020-01-02,05:00:00,22.723791,24.976548,NaN,NaN
23,2020-01-02,06:00:00,22.623373,25.073780,6.0,G
24,2020-01-02,07:00:00,22.412874,25.455600,NaN,NaN

In [26]:
earlyTemp = 2.8
lateTemp = 4.4
kvalitet = "G"
difference = 0.0

for i in range(len(final_df["Time"])):
    if final_df.loc[i]["Time"] == "06:00:00":
        earlyTemp = final_df.loc[i]["Lufttemperatur"]
    if final_df.loc[i]["Time"] == "18:00:00":
        lateTemp = final_df.loc[i]["Lufttemperatur"]


    dayDifference = float(lateTemp) - float(earlyTemp)
    avgDayDifference = dayDifference / 6

    nightDifference = float(earlyTemp) - float(lateTemp)
    avgNightDifference = nightDifference / 6



    if final_df.loc[i]["Time"] == "07:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference)

    elif final_df.loc[i]["Time"] == "08:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference)

    elif final_df.loc[i]["Time"] == "09:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference)

    elif final_df.loc[i]["Time"] == "10:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)

    elif final_df.loc[i]["Time"] == "11:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
    elif final_df.loc[i]["Time"] == "12:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
    elif final_df.loc[i]["Time"] == "13:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
    elif final_df.loc[i]["Time"] == "14:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)

    elif final_df.loc[i]["Time"] == "15:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference)

    elif final_df.loc[i]["Time"] == "16:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference)

    elif final_df.loc[i]["Time"] == "17:00:00":
        final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference)

    elif final_df.loc[i]["Time"] == "19:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference)

    elif final_df.loc[i]["Time"] == "20:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference)

    elif final_df.loc[i]["Time"] == "21:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)

    elif final_df.loc[i]["Time"] == "22:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "23:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "00:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "01:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "02:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "03:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "04:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference)
    elif final_df.loc[i]["Time"] == "05:00:00":
        final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference)

C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference + avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = earlyTemp + (avgDayDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference + avgNightDifference)
C:\Users\robba\AppData\Local\Temp\ipykernel_21816\3431376535.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.loc[i]["Lufttemperatur"] = lateTemp + (avgNightDifference)

In [27]:
final_df.head()

,Date,Time,Indoor Temperature,Indoor Humidity,Lufttemperatur,Kvalitet
0,2020-01-01,06:00:00,23.226588,26.245769,2.8,G
1,2020-01-01,07:00:00,23.405192,26.317767,NaN,NaN
2,2020-01-01,08:00:00,23.391584,25.853402,NaN,NaN
3,2020-01-01,09:00:00,23.562065,25.692726,NaN,NaN
4,2020-01-01,10:00:00,23.408751,25.814888,NaN,NaN

In [13]:
earlyTemp = "2.8"
lateTemp = "4.4"
kvalitet = "G"
difference = 0.0


for i in final_df:

    if i == "06:00:00":
        earlyTemp = final_df.loc[i]["Lufttemperatur"]
    if i == "18:00:00":
        lateTemp = final_df.loc[i]["Lufttemperatur"]
    final_df.ix[final_df.Time =="07:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="08:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="09:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="10:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="11:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="12:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="07:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="07:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="07:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="07:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet
    final_df.ix[final_df.Time =="07:00:00", ['Lufttemperatur','Kvalitet']] = earlyTemp + (0,1 * lateTemp),kvalitet


final_df.head()

,Date,Time,Indoor Temperature,Indoor Humidity,Lufttemperatur,Kvalitet
0,2020-01-01,06:00:00,23.226588,26.245769,2.8,G
1,2020-01-01,07:00:00,23.405192,26.317767,NaN,NaN
2,2020-01-01,08:00:00,23.391584,25.853402,NaN,NaN
3,2020-01-01,09:00:00,23.562065,25.692726,NaN,NaN
4,2020-01-01,10:00:00,23.408751,25.814888,NaN,NaN

In [20]:
final_df.loc[0]["Lufttemperatur"]

2.8

In [25]:
x = final_df.loc[0]["Time"] == "06:00:00"

x

True

In [66]:
final_df.to_csv("next_csv.csv", sep=',', encoding='utf-8')

In [76]:
next_df = 'next_csv.csv'
df2 = pd.read_csv(next_df, sep= ',', header = 0)

In [77]:
df2.head()

,Unnamed: 0,Date,Time,Indoor Temperature,Indoor Humidity,Lufttemperatur,Kvalitet
0,0,2020-01-01,06:00:00,23.226588,26.245769,2.8,G
1,1,2020-01-01,07:00:00,23.405192,26.317767,NaN,NaN
2,2,2020-01-01,08:00:00,23.391584,25.853402,NaN,NaN
3,3,2020-01-01,09:00:00,23.562065,25.692726,NaN,NaN
4,4,2020-01-01,10:00:00,23.408751,25.814888,NaN,NaN

In [36]:
pd.options.mode.chained_assignment = None  # default='warn'

In [69]:
df2.head()

,Unnamed: 0,Date,Time,Indoor Temperature,Indoor Humidity,Lufttemperatur,Kvalitet
0,0,2020-01-01,06:00:00,23.226588,26.245769,2.8,G
1,1,2020-01-01,07:00:00,23.405192,26.317767,NaN,NaN
2,2,2020-01-01,08:00:00,23.391584,25.853402,NaN,NaN
3,3,2020-01-01,09:00:00,23.562065,25.692726,NaN,NaN
4,4,2020-01-01,10:00:00,23.408751,25.814888,NaN,NaN

In [78]:
listWithTemp =[]
#newAirTemp = {"Outside Temperature":listWithTemp}

earlyTemp = 2.8
lateTemp = 4.4
kvalitet = "G"
difference = 0.0

for i in range(len(final_df["Time"])):
    if df2.loc[i]["Time"] == "06:00:00":
        listWithTemp.append(df2.loc[i]["Lufttemperatur"])
        earlyTemp = df2.loc[i]["Lufttemperatur"]
    if df2.loc[i]["Time"] == "18:00:00":
        listWithTemp.append(df2.loc[i]["Lufttemperatur"])
        lateTemp = df2.loc[i]["Lufttemperatur"]


    dayDifference = float(lateTemp) - float(earlyTemp)
    avgDayDifference = dayDifference / 6

    nightDifference = float(earlyTemp) - float(lateTemp)
    avgNightDifference = nightDifference / 6


    if df2.loc[i]["Time"] == "07:00:00":
        earlyTemp1 = earlyTemp + avgDayDifference
        listWithTemp.append(earlyTemp1)
    elif df2.loc[i]["Time"] == "08:00:00":
        earlyTemp2 = earlyTemp + avgDayDifference + avgDayDifference
        listWithTemp.append(earlyTemp2)
    elif df2.loc[i]["Time"] == "09:00:00":
        earlyTemp3 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp3)
    elif df2.loc[i]["Time"] == "10:00:00":
        earlyTemp4 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp4)
    elif df2.loc[i]["Time"] == "11:00:00":
        earlyTemp5 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp5)
    elif df2.loc[i]["Time"] == "12:00:00":
        earlyTemp6 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp6)
    elif df2.loc[i]["Time"] == "13:00:00":
        earlyTemp7 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp7)
    elif df2.loc[i]["Time"] == "14:00:00":
        earlyTemp8 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp8)

    elif df2.loc[i]["Time"] == "15:00:00":
        earlyTemp9 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference +0.06)
        listWithTemp.append(earlyTemp9)

    elif df2.loc[i]["Time"] == "16:00:00":
        earlyTemp10 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + 0.0754)
        listWithTemp.append(earlyTemp10)

    elif df2.loc[i]["Time"] == "17:00:00":
        earlyTemp11 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp11)

    elif df2.loc[i]["Time"] == "19:00:00":
        lateTemp12 = lateTemp + (avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp12)

    elif df2.loc[i]["Time"] == "20:00:00":
        lateTemp13 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp13)

    elif df2.loc[i]["Time"] == "21:00:00":
        lateTemp14 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp14)

    elif df2.loc[i]["Time"] == "22:00:00":
        lateTemp15 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp15)
    elif df2.loc[i]["Time"] == "23:00:00":
        lateTemp16 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp16)
    elif df2.loc[i]["Time"] == "00:00:00":
        lateTemp17 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp17)
    elif df2.loc[i]["Time"] == "01:00:00":
        lateTemp18 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp18)
    elif df2.loc[i]["Time"] == "02:00:00":
        lateTemp19 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp19)
    elif df2.loc[i]["Time"] == "03:00:00":
        lateTemp20 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp20)
    elif df2.loc[i]["Time"] == "04:00:00":
        lateTemp21 = lateTemp + (avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp21)
    elif df2.loc[i]["Time"] == "05:00:00":
        lateTemp22 = lateTemp + (avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp22)

df2.insert(5, "Outside Temperature", listWithTemp, True)

In [79]:
df2.head(25)

,Unnamed: 0,Date,Time,Indoor Temperature,Indoor Humidity,Outside Temperature,Lufttemperatur,Kvalitet
0,0,2020-01-01,06:00:00,23.226588,26.245769,2.800000,2.8,G
1,1,2020-01-01,07:00:00,23.405192,26.317767,3.066667,NaN,NaN
2,2,2020-01-01,08:00:00,23.391584,25.853402,3.333333,NaN,NaN
3,3,2020-01-01,09:00:00,23.562065,25.692726,3.866667,NaN,NaN
4,4,2020-01-01,10:00:00,23.408751,25.814888,4.133333,NaN,NaN
5,5,2020-01-01,11:00:00,23.643324,25.833722,4.666667,NaN,NaN
6,6,2020-01-01,12:00:00,23.429947,26.048467,5.200000,NaN,NaN
7,7,2020-01-01,13:00:00,23.720061,25.765532,4.933333,NaN,NaN
8,8,2020-01-01,14:00:00,23.815208,25.682037,5.200000,NaN,NaN
9,9,2020-01-01,15:00:00,24.091896,25.266164,4.726667,NaN,NaN
10,10,2020-01-01,16:00:00,23.874883,25.527442,4.475400,NaN,NaN
11,11,2020-01-01,17:00:00,23.716724,25.780570,4.133333,NaN,NaN
12,12,2020-01-01,18:00:00,23.417344,25.290788,4.400000,4.4,G
13,13,2020-01-01,19:00:00,23.516901,25.519025,3.866667,NaN,NaN
14,14,2020-01-01,20:00:00,23.381373,25.125984,3.600000,NaN,NaN
15,15,2020-01-01,21:00:00,23.213167,24.820805,3.333333,NaN,NaN
16,16,2020-01-01,22:00:00,23.152760,25.072742,3.066667,NaN,NaN
17,17,2020-01-01,23:00:00,22.978264,25.201249,2.800000,NaN,NaN
18,18,2020-01-02,01:00:00,23.237096,24.711128,2.266667,NaN,NaN
19,19,2020-01-02,02:00:00,23.176701,24.651966,2.800000,NaN,NaN
20,20,2020-01-02,03:00:00,22.959124,24.757560,2.533333,NaN,NaN
21,21,2020-01-02,04:00:00,22.696633,24.974935,2.800000,NaN,NaN
22,22,2020-01-02,05:00:00,22.723791,24.976548,3.866667,NaN,NaN
23,23,2020-01-02,06:00:00,22.623373,25.073780,6.000000,6.0,G
24,24,2020-01-02,07:00:00,22.412874,25.455600,5.733333,NaN,NaN

In [80]:
del df2['Lufttemperatur']
df2.head()

,Unnamed: 0,Date,Time,Indoor Temperature,Indoor Humidity,Outside Temperature,Kvalitet
0,0,2020-01-01,06:00:00,23.226588,26.245769,2.800000,G
1,1,2020-01-01,07:00:00,23.405192,26.317767,3.066667,NaN
2,2,2020-01-01,08:00:00,23.391584,25.853402,3.333333,NaN
3,3,2020-01-01,09:00:00,23.562065,25.692726,3.866667,NaN
4,4,2020-01-01,10:00:00,23.408751,25.814888,4.133333,NaN

In [81]:
listWithKvalitet =[]

kvalitet = "G"

for i in range(len(final_df["Time"])):
    if df2.loc[i]["Time"] == "06:00:00":
        listWithKvalitet.append(df2.loc[i]["Kvalitet"])
        kvalitet = df2.loc[i]["Kvalitet"]
    if df2.loc[i]["Time"] == "18:00:00":
        listWithKvalitet.append(df2.loc[i]["Kvalitet"])
        kvalitet = df2.loc[i]["Kvalitet"]


    if df2.loc[i]["Time"] == "07:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "08:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "09:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "10:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "11:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "12:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "13:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "14:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "15:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "16:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "17:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "19:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "20:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "21:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

    elif df2.loc[i]["Time"] == "22:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "23:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "00:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "01:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "02:00:00":
        lateTemp = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithKvalitet.append(lateTemp)
    elif df2.loc[i]["Time"] == "03:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "04:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)
    elif df2.loc[i]["Time"] == "05:00:00":
        kvalitet = kvalitet
        listWithKvalitet.append(kvalitet)

df2.insert(4, "Air Quality", listWithKvalitet, True)

In [51]:
df2.head()

,Unnamed: 0,Date,Outside Temperature,Time,Air Quality,Indoor Temperature,Indoor Humidity,Kvalitet
0,0,2020-01-01,2.800000,06:00:00,G,23.226588,26.245769,G
1,1,2020-01-01,3.066667,07:00:00,G,23.405192,26.317767,NaN
2,2,2020-01-01,3.511111,08:00:00,G,23.391584,25.853402,NaN
3,3,2020-01-01,3.955556,09:00:00,G,23.562065,25.692726,NaN
4,4,2020-01-01,4.251852,10:00:00,G,23.408751,25.814888,NaN

In [82]:
del df2['Kvalitet']
df2.head()

,Unnamed: 0,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature
0,0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000
1,1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667
2,2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333
3,3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667
4,4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333

In [83]:
df2.to_csv("almost.csv", sep=',', encoding='utf-8')

In [85]:
del df2['Unnamed: 0']
df2.head()

,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature
0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000
1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667
2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333
3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667
4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333

In [86]:
df2.loc[150]

Date                   2020-01-07
Time                     18:00:00
Indoor Temperature      22.203021
Air Quality                     G
Indoor Humidity         31.043078
Outside Temperature           5.0
Name: 150, dtype: object

In [ ]:
almost = pd.merge(df_indoor, df_outdoor, how="left", on=['Date','Time'])


indoorTemp = 'test.csv'
df_indoor = pd.read_csv(indoorTemp, sep= ',', header = 0)

In [91]:
humidity = 'smhi-opendataluftfiktighet_enkoping.csv'
df_humidity = pd.read_csv(humidity, sep= ';', header = 0)

In [92]:
df_humidity.head()

         Date      Time  Relativ Luftfuktighet Kvalitet
0  2020-01-01  06:00:00                     81        Y
1  2020-01-01  07:00:00                     80        Y
2  2020-01-01  08:00:00                     85        Y
3  2020-01-01  09:00:00                     86        Y
4  2020-01-01  10:00:00                     83        Y

In [93]:
df_almost = pd.merge(df2, df_humidity, how="left", on=['Date','Time'])
df_almost.head()

,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature,Relativ Luftfuktighet,Kvalitet
0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000,81.0,Y
1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667,80.0,Y
2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333,85.0,Y
3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667,86.0,Y
4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333,83.0,Y

In [95]:
del df_almost['Kvalitet']
df_almost.head()

,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature,Relativ Luftfuktighet
0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000,81.0
1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667,80.0
2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333,85.0
3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667,86.0
4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333,83.0

In [96]:
df_almost2 = df_almost.rename(columns={'Relativ Luftfuktighet': 'Outside Humidity'})
df_almost2.head()

,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature,Outside Humidity
0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000,81.0
1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667,80.0
2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333,85.0
3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667,86.0
4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333,83.0

In [97]:
df_almost2.to_csv("almost2.csv", sep=',', encoding='utf-8')