In [79]:
import pandas as pd
import numpy as np

In [80]:
done = 'done.csv'
df_start = pd.read_csv(done, sep= ',', header = 0)

In [81]:
df_start.head()

,Unnamed: 0,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature,Outside Humidity,Median daily temp
0,0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000,81.0,3.5
1,1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667,80.0,3.5
2,2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333,85.0,3.5
3,3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667,86.0,3.5
4,4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333,83.0,3.5

In [82]:
sensor = 'sensor_data_2022119_1028.csv'
df_sensor = pd.read_csv(sensor, sep= ',', header = 0)

In [83]:
df_sensor.head()

,Unnamed: 0,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,time,light,motion
0,0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12, 10:57:40",NaN,NaN
1,1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:57:40",NaN,NaN
2,2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12, 10:58:31",NaN,NaN
3,3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12, 10:58:31",NaN,NaN
4,4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:59:18",NaN,NaN

In [84]:
del df_sensor['Unnamed: 0']
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,time,light,motion
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12, 10:57:40",NaN,NaN
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:57:40",NaN,NaN
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12, 10:58:31",NaN,NaN
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12, 10:58:31",NaN,NaN
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:59:18",NaN,NaN

In [85]:
df_sensor.rename(columns = {'time':'Date'}, inplace = True)

In [86]:
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12, 10:57:40",NaN,NaN
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:57:40",NaN,NaN
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12, 10:58:31",NaN,NaN
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12, 10:58:31",NaN,NaN
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:59:18",NaN,NaN

In [87]:
df_sensor[['Date','Time']] = df_sensor.Date.str.split(expand=True)
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion,Time
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12,",NaN,NaN,10:57:40
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12,",NaN,NaN,10:57:40
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12,",NaN,NaN,10:58:31
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12,",NaN,NaN,10:58:31
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12,",NaN,NaN,10:59:18

In [88]:
df_sensor['Date'] = df_sensor['Date'].map(lambda x: x.lstrip(',').rstrip(','))
df_sensor['Time'] = df_sensor['Time'].map(lambda x: x.lstrip(' ').rstrip(' '))
df_sensor = df_sensor.replace('/','-', regex=True)
df_sensor = df_sensor.replace(';',':', regex=True)
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion,Time
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,2022-10-12,NaN,NaN,10:57:40
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,2022-10-12,NaN,NaN,10:57:40
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,2022-10-12,NaN,NaN,10:58:31
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,2022-10-12,NaN,NaN,10:58:31
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,2022-10-12,NaN,NaN,10:59:18

In [94]:
df_sensor["Sensor address"].values

array(['Matsal Addiva Sigurdsgatan', 'Skrivbord Addiva Sigurdsgatan',
       'Pingisrum Addiva Sigurdsgatan', ..., 'Matsal Addiva Sigurdsgatan',
       'Pingisrum Addiva Sigurdsgatan', 'ERS Sensor Addiva Sigurdsgatan'],
      dtype=object)

In [99]:
df_sensor.loc[df_sensor["Sensor address"] == "Madelens skrivbord Addiva Sigurdsgatan", "Sensor address"] = "1"
df_sensor.loc[df_sensor["Sensor address"] == "Skrivbord Addiva Sigurdsgatan", "Sensor address"] = "2"
df_sensor.loc[df_sensor["Sensor address"] == "Matsal Addiva Sigurdsgatan", "Sensor address"] = "3"
df_sensor.loc[df_sensor["Sensor address"] == "Pingisrum Addiva Sigurdsgatan", "Sensor address"] = "4"
df_sensor.loc[df_sensor["Sensor address"] == "ERS Sensor Addiva Sigurdsgatan", "Sensor address"] = "5"

In [109]:
df_sensor.tail()

,date,time,_id,Sensor name,sensor_id,humidity,temperature,vdd,waterleak,light,motion
3424,2022-11-09,10:22:48,636b716815a09358c55747f0,2,eui-a81758fffe075b66,44,22.4,3633,0.0,NaN,NaN
3425,2022-11-09,10:25:48,636b721c15a09358c55747f1,1,eui-a81758fffe075b67,29,30.2,3633,0.0,NaN,NaN
3426,2022-11-09,10:25:48,636b721c15a09358c55747f2,3,eui-a81758fffe075c91,43,21.7,3627,0.0,NaN,NaN
3427,2022-11-09,10:26:48,636b725815a09358c55747f3,4,eui-a81758fffe075b65,42,22.3,3631,0.0,NaN,NaN
3428,2022-11-09,10:26:48,636b725815a09358c55747f4,5,eui-a81758fffe034f66,44,22.2,3599,NaN,142.0,0.0

In [104]:
df_sensor = df_sensor.rename({'Sensor address': 'sensor name',"Date":"date", "Time":"time"}, axis='columns')

In [108]:
df_sensor.insert(0, 'time', df_sensor.pop('time'))
df_sensor.insert(0, 'date', df_sensor.pop('date'))

In [110]:
df_sensor.to_csv("latest_sensordata.csv", sep=',', encoding='utf-8')